@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.uiFriendlyScrollbar {
  scrollbar-width: thin;
  scrollbar-color: #cbd5e1 transparent;
}

.uiFriendlyScrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.uiFriendlyScrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.uiFriendlyScrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 4px;
}

.uiFriendlyScrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #94a3b8;
}